<h1>Articles Listing Page</h1>
<table>
  <thead>
  <tr>
    <td>Title</td><td>Description</td><td>Actions</td>
  </tr>
  </thead>
  <%@article.each do |article| %>
    <tr>
      <td><%=article.title %></td>
      <td><%=article.description%>
      </td><td>Actions</td>
    </tr>
  <%end %>
</table>